/* body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

table,th,td{
    border:1px solid blue;
    text-align:center;
    padding: 5px;
    font-size: 20px;
}

table{
    width:70%;
    box-shadow: 0 0 10px red ;
}
*/
/* top,left,right,bottom */

/* .test thead{
    background-color:aqua;
    color:blue;
} */


/* For border */

/* body{
    margin-bottom:300px;

}

div{
    background-color:wheat;
    text-align:center;
    padding:10px;
    margin:40px;
    width:500px
}

#rounded-all{
    border:10px solid red;
    border-radius:200px
} 

#rounded-two-side{
    border:10px solid red;
    border-top-left-radius:50px
}*/

/* Diplay */

div{
    padding: 10px;
    margin: 10px;
}

h3{
    background-color:wheat;
    padding: 10px;
    margin: 10px;
    display:inline-block;
}

span{
    background-color:orange;
    margin: 5px;
    padding: 5px;
    display:block
}

a{
    background-color: rgb(116, 182, 9);
    text-decoration: none;
    color:red;
    padding: 5px;
    margin: 5px;
    display:block; 
    width:300px;
    
}
input{
    display:block;
    padding: 5px;
    margin: 5px;
    outline:none;
    float:left;
}

 section article {
    background-color: rgb(240, 240, 185);
    color:red;
    width:500px;
    display:inline-block
}